<%= form_with(model: bookmark, remote: true) do |form| %>
  <% if bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
        <% bookmark.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="bg-light border px-2 py-2">
    <h5>Add new Bookmark</h5>
    <div class="container">
      <div class="row align-items-start">
        <div class="col">
          <div class="field">
            <h6>Name</h6>
            <%= form.text_field :name, class: 'form-control form-control-sm', placeholder: 'Give a title to your Bookmark' %>
          </div>
          <br>
          <div class="field">
            <h6>URL</h6>
            <%= form.text_field :url, class: 'form-control form-control-sm', placeholder: 'Enter a valid URL' %>
          </div>
        </div>
        <div class="col">
          <h6>Categories</h6>
          <div class="field">
            <div class="col">
              <%= form.collection_check_boxes(:category_ids, @categories, :id, :name) do |b|%>
                <%= b.label class:"form-check-label" do%>
                  <%=b.check_box + "  " + b.text%>
                <%end%>
              <% end %>
            </div>
          </div>
          <%= link_to 'Create New Category', new_category_path %>
        </div>
        <div class="col">
          <h6>Types</h6>
          <div class="field">
            <div class="col">
              <%= form.collection_check_boxes(:type_ids, @types, :id, :name) do |b| %>
                <%= b.label class:"form-check-label" do%>
                  <%=b.check_box + "  " +b.text%>
                <%end%>
              <% end %>  
            </div>
          </div>
          <%= link_to 'Create New Type', new_type_path %>
        </div>
      </div>
      <div class="actions">
        <%= form.submit 'Save Bookmark!', data: {confirm: 'Are you sure?'}, class: "btn btn-primary btn-sm my-3" %>
      </div>
    </div>
  </div>
<% end %>
